.chat-container {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    border: 2px solid #ccc;
    background-color: rgba(194, 187, 187, 0.708);
    border-radius: 10px;
    overflow: hidden;
    bottom: 60px;
    right: 60px;
    position: absolute;
}

.message-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 20px;
    max-width: 70%;
}

.user {
    align-self: flex-end;
    background-color: rgb(66, 66, 203);
    color: white;
    margin-left: 100px;
}

.bot {
    align-self: flex-start;
    background-color: #b37709;
    color: white;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.textbox {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
}

.chat-button {
    padding: 8px;
    border: none;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button img {
    width: 20px;
    height: 20px;
}

.bodyNumbers {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.bodyNumbers p {
    margin-bottom: 10px;
    color: #53266e;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

.bodyNumbers div {
    text-align: center;
}

.bodyImage {
    width: 70px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: -10px;
    cursor: pointer;
}

.meal-plan-container {
    margin: 20px auto;
    max-width: 80%;
    border-radius: 10px;
    padding: 20px;
}

.meal-plan-header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -15px;
    font-size: 1.2rem;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 8px;
}

.meal-plan-list {
    list-style: none;
    padding: 0;
}

.meal-plan-list h4 {
    margin-bottom: 10px;
}

.meal-plan-list li {
    margin-bottom: 5px;
}

.meal-plan-total {
    text-align: center;
    margin-top: 20px;
}

.meal-plan-total p {
    margin-bottom: -5px;
}

